In [9]:
import pandas as pd
import numpy as np
import math

In [10]:
LIST_EPS_DEGREE = [-1, -3, -5, -7, -12]
LIST_EPS = list(map(lambda degree: 10 ** degree, LIST_EPS_DEGREE))
LIST_GAMMA = [1, 2, 0.5]
LIST_Q = [0.9, 0.999, 0.99999]
LIST_R = LIST_Q

In [11]:
def t1(*, gamma, eps):
    return math.ceil(eps ** (-1 / gamma))

In [12]:
res = []
for eps in LIST_EPS:
    row = []
    for gamma in LIST_GAMMA:
        row.append(t1(gamma=gamma, eps=eps))
    res.append(row)

pd.DataFrame(res, index=LIST_EPS_DEGREE, columns=LIST_GAMMA)

               1.0      2.0                       0.5
-1              10        4                       100
-3            1000       32                   1000000
-5          100000      317               10000000000
-7        10000000     3163           100000000000001
-12  1000000000000  1000000  999999999999999983222784

Проблемы с точностью. В ячейке (eps=10^-12, gamma=0.5) результат 10^24. На ячейку выше, ответ 10^14

In [13]:
def t2(*, q, eps):
    return math.ceil(math.log(eps, q))

In [14]:
res = []
for eps in LIST_EPS:
    row = []
    for q in LIST_Q:
        row.append(t2(q=q, eps=eps))
    res.append(row)

pd.DataFrame(res, index=LIST_EPS_DEGREE, columns=LIST_Q)

     0.90000  0.99900  0.99999
-1        22     2302   230258
-3        66     6905   690773
-5       110    11508  1151287
-7       153    16111  1611802
-12      263    27618  2763089

In [15]:
def t3(*, r, eps):
    return math.ceil(math.log2(math.log(eps, r)))

In [16]:
res = []
for eps in LIST_EPS:
    row = []
    for r in LIST_R:
        row.append(t3(r=r, eps=eps))
    res.append(row)

pd.DataFrame(res, index=LIST_EPS_DEGREE, columns=LIST_R)

     0.90000  0.99900  0.99999
-1         5       12       18
-3         7       13       20
-5         7       14       21
-7         8       14       21
-12        9       15       22